{% extends 'all-news/base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block content %}
  {{block.super}}
  <div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}
  <figure class="snip1208">
    <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
    <!-- <div class="date"><span class="day">28</span><span class="month">Oct</span></div><i class="ion-film-marker"></i> -->
    <figcaption>
      <h3>{{ news_item.title }}</h3>
      <p>
        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
      </p>
      <a href="{% url 'article' news_item.id %}"><button>Read More</button></a>
    </figcaption><a href="#"></a>
  </figure>

  <!-- <div class="row">

    <div class="col-sm-4">
      <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
      <a href="{% url 'article' news_item.id %}"><h4 class="text-center">{{ news_item.title }}</h4></a>
    </div>

  </div> -->

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}
</div>
<div class="container newz" style="  padding-bottom: 100px;">
  <form action="{% url 'newsToday' %}" method="post">
    {% csrf_token %} {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe">
  </form>
</div>
{% endblock %}
<!-- end of block content -->

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/newsletter.js' %}"></script>
{% endblock %}
